* {box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url(fondoformulario.jpg);
}

main {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

main h1{color:rgb(180, 241, 235); text-align: center;}

.formulario {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
    color:rgb(180, 241, 235);
    padding-left: 80px;
}

.formulario__grupo-input {
	position: relative;
    text-align: center;
}

.formulario__input {
	width: 80%;
	background:white;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #81c7f5;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #db2727;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(4, 138, 145);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgb(255, 255, 255);
}

.formulario__mensaje-exito {
	font-size: 20px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* Validacion */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #f10d0d;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}



@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}





*{margin:0vh;}
.header {
    grid-area: header;
    background-color:rgba(3, 86, 128, 0.863);
    color: white;
    height: 10vh;
}

.footer {
    grid-area: footer;
    background-color: rgba(3, 86, 128, 0.863);
    color: white;
}
.contenedor .logo{width: 100%;
    height: 70px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
    display: flex;justify-content: space-between;}

.logo p{transform: translate(-120px);
      }
	  .logo{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}   
.botonsumate{transform: translate(120px);
      }

.logo a{padding-bottom: 30px;}
    
.logo img{height: 62px}
.logo p{color:#ffffff;
font-size: 30px ;font-family: 'Permanent Marker', cursive; display: flex;padding-top: 12px; padding-left: 0px;}
nav{display: flex; float: right; padding-top: 15px}
nav li{float: left;list-style: none;padding: 10px;}
nav a{text-decoration: none;color:rgb(141, 218, 238);font-family: 'Roboto', sans-serif;}
nav a:hover{color: white}

.cuerpo-footer{color:white;display: flex;height: 40vh;display: flex;
    width: 100%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:auto;height: 200px;justify-content: space-between;color: white;}
.colum1{max-width: 100vh;;padding-left: 10px;}
.colum1 h1{font-size: 20px;color: rgb(255, 255, 255);}
.colum1 p{font-size: 14px; color: rgb(255, 255, 255);margin-top: 10px;}

.colum2{max-width: 50vh;padding-left: 0px;padding-left: 10px;}
.colum2 h1{font-size: 20px;color: rgb(255, 255, 255);}

.fila1{margin-top: 20px;display: flex;font-size: 14px;}
.fila1 a{width: 36px;height: 36px;}
.fila2{margin-top: 20px;display: flex;font-size: 14px}
.fila2 a{width: 36px;height: 36px;}
.fila3{margin-top: 20px;display: flex;font-size: 14px}
.fila3 a{width: 36px;height: 36px;}

.colum3{max-width: 50vh;padding-right: 10px;}
.colum3 h1{font-size: 20px;}

.fila5{margin-top: 20px;display: flex;}
.fila6{margin-top: 20px;display: flex;}
.fila5 label{font-size: 22px;}
.fila6 label{font-size: 22px;}
.fila5 a{font-size: 40px;padding-left: 65px;color: azure;}
.fila6 a{font-size: 40px;padding-bottom: 20px;padding-left: 65px;color: azure}
.fila1 a{font-size: 25px;}
.fila2 a{font-size: 25px;}
.fila3 a{font-size: 25px;}
.fila1 label{padding: 4px 6px}
.fila2 label{padding: 4px 6px}
.fila3 label{padding: 4px 6px}
.botonsumate{background-color: rgb(247, 244, 244);
            color: rgb(141, 218, 238);display: inline-block;font-size: 20px;margin: 20px;padding: 10px 0px;text-align: center;
            width: 100px;text-decoration: none;box-shadow: 0px 3px 0px currentColor;border-radius: 3px;}

.botonsumate2{background-color:rgb(247, 244, 244);
                color: rgb(141, 218, 238);display: inline-block;font-size: 18px;margin: 20px;padding: 5px 0px;text-align: center;
                width: 12vh;text-decoration: none;box-shadow: 0px 3px 0px currentColor;border-radius: 3px;}

.botonturnos{background-color: rgb(247, 244, 244);
                    color: rgb(141, 218, 238);display: inline-block;font-size: 18px;margin: 19px;padding: 5px 0px;text-align: center;
                    width: 12vh;text-decoration: none;box-shadow: 0px 3px 0px currentColor;border-radius: 3px;}
.botonturnos:hover{color:rgba(143, 163, 219, 0.753)}
.botonsumate2:hover{color:rgba(143, 163, 219, 0.753)}
.botonsumate:hover{color:rgba(143, 163, 219, 0.753) ;}

.botonconoce{background-color: rgb(247, 244, 244);
    color: rgb(228, 33, 130);display: inline-block;font-size: 20px;margin: 20px;padding: 10px 0px;text-align: center;
    width: 100px;text-decoration: none;box-shadow: 0px 3px 0px currentColor;border-radius: 5px;}

.botonturnos2{background-color: rgb(247, 244, 244);
    color: rgb(141, 218, 238);display: inline-block;font-size: 30px;margin: 20px;padding: 5px 0px;text-align: center;
    width: 300px;text-decoration: none;box-shadow: 0px 3px 0px currentColor;border-radius: 3px;}
.botonturnos2:hover{color:rgba(143, 163, 219, 0.753) ;}

.botonconoce{background-color: rgb(247, 244, 244);
    color: rgb(141, 218, 238);display: inline-block;font-size: 20px;margin: 20px;padding: 5px 0px;text-align: center;
    width: 150px;text-decoration: none;box-shadow: 0px 3px 0px currentColor;border-radius: 3px;}

.cuerpo-footer{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.botonsumate2{
    transform: translate(100px);}

@media screen and (max-width: 1100px) {
    .logo p{padding-left:300px;}
    .botonsumate2{display: none;}
    .botonturnos{display: none;}
    nav{display: none;}
    .otros{display: none;}
    .video1{width: 500px;}
    .botonsumate{transform: translate(-5px);}
    .fila5 a{padding-right: 20px;}
    .fila6 a{padding-right: 20px;}
    .footer {height:55vh;}


